.header {
  align-items: center;
  background: var(--article-bg);
  display: flex;
  padding: 10px;
  justify-content: space-around;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 0 2rem rgb(10, 10, 10);
  box-shadow: 0 0 2rem rgb(10, 10, 10);
}

.title {
  margin-left: 10px;
}
.cardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 30px 0px;
}
.card {
  background: var(--article-bg);
  padding: 20px;
  margin-bottom: 15px;
  width: 24vw;
  -webkit-box-shadow: 0 0 2rem rgb(10, 10, 10);
  box-shadow: 0 0 2rem rgb(10, 10, 10);
}

.cardTitle {
  color: var(--accent-color);
  margin-bottom: 16px;
  font-size: 20px;
  text-transform: capitalize;
}

.cardDescription {
  font-size: 15px;
  word-wrap: break-word;
}

.cardRepoLang {
  color: rgb(164, 178, 255);
}

.repositoryDetails {
  list-style: none;
  display: flex;
  margin: 40px 0px 2px;
  font-size: 13px;
}

.repositoryDetails li {
  margin-right: 20px;
}

.githubAvatar {
  border-radius: 50px;
}

.icon {
  color: var(--accent-color);
}

.icon:hover {
  color: rgb(209, 160, 255);
}

.header a {
  text-decoration: none;
  color: aliceblue;
}

.header a:hover {
  color: rgb(209, 160, 255);
}

@media screen and (max-width: 600px) {
  .cardContainer {
    flex-direction: column;
  }
  .card {
    margin-bottom: 10px;
    width: 75vw;
    -webkit-box-shadow: 0 0 2rem rgb(10, 10, 10);
    box-shadow: 0 0 2rem rgb(10, 10, 10);
  }
  .header {
    flex-direction: column;
    height: 70vh;
    margin-bottom: 30px;
    justify-content: space-evenly;
  }
  .title {
    font-size: 12px;
  }
  .repositoryDetails li {
    margin-right: 10px;
  }
  .cardTitle {
    font-size: 14px;
  }

  .header {
    height: 40vh;
  }
}
